@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);



#buttons1-11 .btn {
  font-size: 17px;
  font-family: 'PT Sans Narrow', sans-serif;
}
#msg-box4-5 .mbr-header__text {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
}
#msg-box4-5 .mbr-header__subtext {
  color: #ffffff;
  text-align: center;
}
#msg-box4-5 .mbr-article {
  color: #ffffff;
  font-size: 14px;
}
#features1-9 P {
  text-align: center;
  font-size: 13px;
  color: #ffffff;
}
#features1-9 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#contacts3-6 STRONG {
  color: #ffffff;
}
#contacts3-6 P {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  text-align: center;
}
#contacts3-6 .btn {
  font-size: 15px;
}
#contacts3-6 UL {
  text-align: center;
}


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#msg-box4-35 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-35 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-35 .mbr-article {
  color: #ffffff;
}
#pricing-table1-36 UL {
  font-size: 12px;
}
#contacts3-6 STRONG {
  color: #ffffff;
}
#contacts3-6 P {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  text-align: center;
}
#contacts3-6 .btn {
  font-size: 15px;
}
#contacts3-6 UL {
  text-align: center;
}


#msg-box1-28 .mbr-header .mbr-header__text {
  color: #fff;
  text-align: center;
  font-size: 30px;
}
#msg-box1-28 .mbr-article {
  color: #fff;
  text-align: center;
  font-size: 16px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#contacts3-6 STRONG {
  color: #ffffff;
}
#contacts3-6 P {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  text-align: center;
}
#contacts3-6 .btn {
  font-size: 15px;
}
#contacts3-6 UL {
  text-align: center;
}



#msg-box4-46 .mbr-header__text {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}
#msg-box4-46 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-46 .mbr-article {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#content4-44 .mbr-section__col .mbr-header__text {
  font-size: 20px;
}
#content4-44 P {
  font-size: 12px;
}
#content4-45 .mbr-section__col .mbr-header__text {
  font-size: 20px;
}
#content4-45 P {
  font-size: 12px;
}
#contacts3-6 STRONG {
  color: #ffffff;
}
#contacts3-6 P {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  text-align: center;
}
#contacts3-6 .btn {
  font-size: 15px;
}
#contacts3-6 UL {
  text-align: center;
}





#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#msg-box4-17 .mbr-header__text {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}
#msg-box4-17 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-17 .mbr-article {
  color: #ffffff;
}
#msg-box4-17 .mbr-article P {
  text-align: left;
}
#msg-box1-18 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-18 .mbr-article {
  color: #fff;
}
#msg-box1-19 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-19 .mbr-article {
  color: #fff;
}
#msg-box1-20 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-20 .mbr-article {
  color: #fff;
}
#msg-box1-21 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-21 .mbr-article {
  color: #fff;
}
#pricing-table1-23 SPAN {
  font-family: 'Oswald', sans-serif;
}
#pricing-table1-23 DIV {
  font-family: 'Oswald', sans-serif;
}
#contacts3-6 STRONG {
  color: #ffffff;
}
#contacts3-6 P {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  text-align: center;
}
#contacts3-6 .btn {
  font-size: 15px;
}
#contacts3-6 UL {
  text-align: center;
}






#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#msg-box4-41 .mbr-header__text {
  color: #000000;
  font-family: 'PT Sans', sans-serif;
}
#msg-box4-41 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-41 .mbr-article {
  color: #ffffff;
}
#msg-box4-41 .mbr-article P {
  color: #000000;
  font-family: 'PT Sans', sans-serif;
}
#msg-box1-43 .mbr-header .mbr-header__text {
  color: #000000;
  font-family: 'PT Sans', sans-serif;
}
#msg-box1-43 .mbr-article {
  color: #000000;
  font-family: 'PT Sans', sans-serif;
}
#contacts3-6 STRONG {
  color: #ffffff;
}
#contacts3-6 P {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  text-align: center;
}
#contacts3-6 .btn {
  font-size: 15px;
}
#contacts3-6 UL {
  text-align: center;
}
